@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i&display=swap");


body{
    background:radial-gradient(#3d1a4b, #111119);
}

a{
    color:#ffffff;
    font-weight: bolder;
    font-size:25px;
    text-decoration: none;
}

.form {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.form__desc{
    color:white;
}

.form * {
  box-sizing: border-box;
  line-height: 1.5;
}

.form__title {
  color: white;
  font:bold;
  font:20px;
  font-weight: 600;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__desc2{
    color: grey;
    size:5px;
}
.form__item > * {
  align-self: flex-start;
}

.form__label {
  color:white;
  font-weight: 600;
  padding: 10px 0;
}

.form__input {
  width: 100%;
  max-width: 425px;

  /* Fix for Safari/iOS date fields */
  min-height: calc(0.9em + (0.8em * 2) + 0.6em);

  padding: 0.8em;
  font-size: 0.9em;
  font-family: "Source Sans Pro", sans-serif;

  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.form__input:focus {
  background: #ffffff;
}

.form__input::placeholder {
  color: #bbbbbb;
}

.form__input--error {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}

.form__input--error::placeholder {
  color: #ffbfbf;
}

.form__error {
  padding-top: 10px;
  color: #d50000;
  font-size: 0.9em;
  visibility: hidden;
}

.form__input--error + .form__error {
  visibility: visible;
}

.form__input--small {
  max-width: 250px;
}

textarea.form__input {
  resize: none;
  min-height: 200px;
}

.form__btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  padding: 10px 16px;
  margin: 10px 0;

  color: #ffffff;
  background: #d86810;
  border: 2px solid #d86810;
  border-radius: 5px;

  cursor: pointer;
  outline: none;
}

.form__btn:active {
  background: #d86810;
}

.logo{
    display:flex;
    justify-content: end;    height:200px;
}
